In [4]:
import pandas as pd

In [140]:
import datetime as datetime

In [1]:
!unzip csv/Monthly_count.zip

Archive:  csv/Monthly_count.zip
  inflating: Pedestrian_Counting_System_-_Monthly__counts_per_hour_.csv

In [2]:
!unzip csv/Sensor_location.zip

Archive:  csv/Sensor_location.zip
  inflating: Pedestrian_Counting_System_-_Sensor_Locations.csv

In [46]:
location_info = pd.read_csv('csv/Pedestrian_Counting_System_-_Monthly__counts_per_hour_.csv')
location_sensor_info = pd.read_csv('csv/Pedestrian_Counting_System_-_Sensor_Locations.csv')

In [208]:
location_sensor_info[location_sensor_info.sensor_id==79 ]

,sensor_id,sensor_description,sensor_name,installation_date,status,note,direction_1,direction_2,latitude,longitude,location
84,79,Flinders St (South),FliSS_T,2021/09/10,A,NaN,East,West,-37.817927,144.966173,"(-37.8179273, 144.96617276)"

In [49]:
location_info['Date_Time'] = pd.to_datetime(location_info['Date_Time'])

In [50]:
location_info.Date_Time

0         2019-11-01 17:00:00
1         2019-11-01 17:00:00
2         2019-11-01 17:00:00
3         2019-11-01 17:00:00
4         2019-11-01 17:00:00
                  ...
4367450   2022-06-30 19:00:00
4367451   2022-06-30 20:00:00
4367452   2022-06-30 21:00:00
4367453   2022-06-30 22:00:00
4367454   2022-06-30 23:00:00
Name: Date_Time, Length: 4367455, dtype: datetime64[ns]

In [53]:
location_sensor_info[location_sensor_info['status']=='I']

,sensor_id,sensor_description,sensor_name,installation_date,status,note,direction_1,direction_2,latitude,longitude,location
71,55,Elizabeth St-La Trobe St (East),Eli380_T,2018/07/19,I,NaN,South,North,-37.809876,144.961349,"(-37.80987625, 144.96134928)"
72,52,Elizabeth St-Lonsdale St (South),Eli263_T,2017/07/31,I,NaN,East,West,-37.812508,144.961946,"(-37.81250841, 144.96194607)"

In [43]:
location_sensor_info[location_sensor_info['status']=='R']

,sensor_id,sensor_description,sensor_name,installation_date,status,note,direction_1,direction_2,latitude,longitude,location
1,32,City Square,CSq_T,2013/12/20,R,Device has been removed (24/01/2017),NaN,NaN,-37.815724,144.966863,"(-37.81572426, 144.96686315)"
23,14,Sandridge Bridge,SanBri_T,2009/03/24,R,Sensor relocated to sensor ID 25 on 2/10/2019,South,North,-37.820099,144.962925,"(-37.82009926, 144.96292494)"
27,25,Melbourne Convention Exhibition Centre,MCEC_T,2013/08/28,R,NaN,East,West,-37.824005,144.956050,"(-37.8240046, 144.95605022)"
29,13,Flagstaff Station,Wil277_T,2009/03/24,R,NaN,NaN,NaN,-37.812384,144.956532,"(-37.81238363, 144.95653249)"
31,22,Flinders St-Elizabeth St (East),Eli274_T,2013/08/12,R,NaN,South,North,-37.817851,144.965074,"(-37.81785129, 144.9650742)"
41,33,Flinders St-Spring St (West),Spr13_T,2014/04/23,R,NaN,South,North,-37.814819,144.974547,"(-37.81481936, 144.97454651)"
49,16,Australia on Collins,Col270_T,2009/03/30,R,Device moved to location ID 53 (22/09/2015),NaN,NaN,-37.815721,144.965216,"(-37.81572107, 144.96521642)"
51,38,Flinders St-Swanston St (West),Swa11_T,2014/12/05,R,Device has been removed (17/02/2017),NaN,NaN,-37.817221,144.967156,"(-37.81722121, 144.9671563)"
52,34,Flinders St-Spark La,Fli32_T,2014/06/08,R,NaN,East,West,-37.815367,144.974156,"(-37.81536669, 144.97415645)"
60,60,Flinders La - Swanston St (West) Temporary,Swa31T_T,2019/03/08,R,Temporary for the duration of the metro tunnel...,South,North,-37.816669,144.966901,"(-37.81666873, 144.96690138)"
65,15,State Library,QV_T,2009/03/25,R,NaN,South,North,-37.810631,144.964477,"(-37.81063062, 144.96447729)"

In [46]:
location_info[location_info.duplicated(keep=False)]

Empty DataFrame
Columns: [ID, Date_Time, Year, Month, Mdate, Day, Time, Sensor_ID, Sensor_Name, Hourly_Counts]
Index: []

In [51]:
merge_pandas = location_info.merge(location_sensor_info, how='inner', left_on='Sensor_ID', right_on='sensor_id')

In [171]:
active_sensor_df = merge_pandas[merge_pandas['status']=='A'].reset_index(drop=True)

In [172]:
active_sensor_df

,ID,Date_Time,Year,Month,Mdate,Day,Time,Sensor_ID,Sensor_Name,Hourly_Counts,...,sensor_description,sensor_name,installation_date,status,note,direction_1,direction_2,latitude,longitude,location
0,2887629,2019-11-01 17:00:00,2019,November,1,Friday,17,39,Alfred Place,604,...,Alfred Place,AlfPl_T,2019/12/04,A,In 4/12/2019 sensor upgraded,South,North,-37.813784,144.969963,"(-37.81378433, 144.96996342)"
1,2887684,2019-11-01 18:00:00,2019,November,1,Friday,18,39,Alfred Place,384,...,Alfred Place,AlfPl_T,2019/12/04,A,In 4/12/2019 sensor upgraded,South,North,-37.813784,144.969963,"(-37.81378433, 144.96996342)"
2,2887739,2019-11-01 19:00:00,2019,November,1,Friday,19,39,Alfred Place,289,...,Alfred Place,AlfPl_T,2019/12/04,A,In 4/12/2019 sensor upgraded,South,North,-37.813784,144.969963,"(-37.81378433, 144.96996342)"
3,2887794,2019-11-01 20:00:00,2019,November,1,Friday,20,39,Alfred Place,158,...,Alfred Place,AlfPl_T,2019/12/04,A,In 4/12/2019 sensor upgraded,South,North,-37.813784,144.969963,"(-37.81378433, 144.96996342)"
4,2887849,2019-11-01 21:00:00,2019,November,1,Friday,21,39,Alfred Place,114,...,Alfred Place,AlfPl_T,2019/12/04,A,In 4/12/2019 sensor upgraded,South,North,-37.813784,144.969963,"(-37.81378433, 144.96996342)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3688256,4372922,2022-06-30 19:00:00,2022,June,30,Thursday,19,86,Queensberry St - Errol St (South),92,...,Queensberry St - Errol St (South),574Qub_T,2021/12/21,A,NaN,East,West,-37.803087,144.949087,"(-37.80308676, 144.94908661)"
3688257,4372923,2022-06-30 20:00:00,2022,June,30,Thursday,20,86,Queensberry St - Errol St (South),80,...,Queensberry St - Errol St (South),574Qub_T,2021/12/21,A,NaN,East,West,-37.803087,144.949087,"(-37.80308676, 144.94908661)"
3688258,4372924,2022-06-30 21:00:00,2022,June,30,Thursday,21,86,Queensberry St - Errol St (South),32,...,Queensberry St - Errol St (South),574Qub_T,2021/12/21,A,NaN,East,West,-37.803087,144.949087,"(-37.80308676, 144.94908661)"
3688259,4372925,2022-06-30 22:00:00,2022,June,30,Thursday,22,86,Queensberry St - Errol St (South),33,...,Queensberry St - Errol St (South),574Qub_T,2021/12/21,A,NaN,East,West,-37.803087,144.949087,"(-37.80308676, 144.94908661)"
3688260,4372926,2022-06-30 23:00:00,2022,June,30,Thursday,23,86,Queensberry St - Errol St (South),18,...,Queensberry St - Errol St (South),574Qub_T,2021/12/21,A,NaN,East,West,-37.803087,144.949087,"(-37.80308676, 144.94908661)"

In [173]:
daily_count = active_sensor_df.groupby(['Day','Sensor_ID','Sensor_Name'],as_index=False).agg({'Hourly_Counts': 'sum'}).sort_values(by='Day',ascending=False)

In [39]:
location_info[location_info['Sensor_ID']==32].sort_values(by='Year',ascending=False)

,ID,Date_Time,Year,Month,Mdate,Day,Time,Sensor_ID,Sensor_Name,Hourly_Counts
1888977,1733358,"January 13, 2017 09:00:00 PM",2017,January,13,Friday,21,32,City Square,1389
1662289,1740236,"January 21, 2017 10:00:00 AM",2017,January,21,Saturday,10,32,City Square,1054
1662517,1740464,"January 21, 2017 04:00:00 PM",2017,January,21,Saturday,16,32,City Square,2301
1662479,1740426,"January 21, 2017 03:00:00 PM",2017,January,21,Saturday,15,32,City Square,2407
1662441,1740388,"January 21, 2017 02:00:00 PM",2017,January,21,Saturday,14,32,City Square,2269
...,...,...,...,...,...,...,...,...,...,...
948078,739165,"December 23, 2013 08:00:00 AM",2013,December,23,Monday,8,32,City Square,429
948109,739196,"December 23, 2013 09:00:00 AM",2013,December,23,Monday,9,32,City Square,496
948140,739227,"December 23, 2013 10:00:00 AM",2013,December,23,Monday,10,32,City Square,929
948171,739258,"December 23, 2013 11:00:00 AM",2013,December,23,Monday,11,32,City Square,1800
718023,743784,"December 29, 2013 01:00:00 PM",2013,December,29,Sunday,13,32,City Square,2189

In [48]:
location_sensor_info[location_sensor_info.duplicated(keep=False)]

Empty DataFrame
Columns: [sensor_id, sensor_description, sensor_name, installation_date, status, note, direction_1, direction_2, latitude, longitude, location]
Index: []

In [174]:
day_list = daily_count.Day.unique()

In [175]:
for day in day_list:
    print(daily_count[daily_count.Day==day].sort_values(by='Hourly_Counts',ascending=False).head(10))

           Day  Sensor_ID                        Sensor_Name  Hourly_Counts
477  Wednesday          4                   Town Hall (West)       20360823
479  Wednesday          6  Flinders Street Station Underpass       19002309
476  Wednesday          3                  Melbourne Central       16657083
478  Wednesday          5                     Princes Bridge       15592856
475  Wednesday          2         Bourke Street Mall (South)       15343311
474  Wednesday          1         Bourke Street Mall (North)       15043324
492  Wednesday         24      Spencer St-Collins St (North)       12922557
482  Wednesday          9             Southern Cross Station       10305852
495  Wednesday         28                    The Arts Centre        9184199
499  Wednesday         35                          Southbank        9181249
         Day  Sensor_ID                        Sensor_Name  Hourly_Counts
398  Tuesday          4                   Town Hall (West)       19457168
400  Tuesday          6  Flinders Street Station Underpass       18461430
397  Tuesday          3                  Melbourne Central       16073224
396  Tuesday          2         Bourke Street Mall (South)       14429616
399  Tuesday          5                     Princes Bridge       14396109
395  Tuesday          1         Bourke Street Mall (North)       14273069
413  Tuesday         24      Spencer St-Collins St (North)       12543187
403  Tuesday          9             Southern Cross Station       10230535
420  Tuesday         35                          Southbank        8956773
416  Tuesday         28                    The Arts Centre        8456510
          Day  Sensor_ID                        Sensor_Name  Hourly_Counts
319  Thursday          4                   Town Hall (West)       21187600
321  Thursday          6  Flinders Street Station Underpass       19413550
318  Thursday          3                  Melbourne Central       17019854
317  Thursday          2         Bourke Street Mall (South)       16322770
316  Thursday          1         Bourke Street Mall (North)       15965870
320  Thursday          5                     Princes Bridge       15704870
334  Thursday         24      Spencer St-Collins St (North)       12928593
324  Thursday          9             Southern Cross Station       10424560
341  Thursday         35                          Southbank        9364584
337  Thursday         28                    The Arts Centre        9160781
        Day  Sensor_ID                        Sensor_Name  Hourly_Counts
240  Sunday          4                   Town Hall (West)       18172940
239  Sunday          3                  Melbourne Central       15544124
241  Sunday          5                     Princes Bridge       15480437
237  Sunday          1         Bourke Street Mall (North)       13626411
238  Sunday          2         Bourke Street Mall (South)       13405435
242  Sunday          6  Flinders Street Station Underpass       12931378
262  Sunday         35                          Southbank        9037869
258  Sunday         28                    The Arts Centre        8853109
253  Sunday         21        Bourke St-Russell St (West)        5789151
267  Sunday         41     Flinders La-Swanston St (West)        5716816
          Day  Sensor_ID                        Sensor_Name  Hourly_Counts
161  Saturday          4                   Town Hall (West)       22499236
160  Saturday          3                  Melbourne Central       19012837
162  Saturday          5                     Princes Bridge       18233579
159  Saturday          2         Bourke Street Mall (South)       17003142
158  Saturday          1         Bourke Street Mall (North)       16748863
163  Saturday          6  Flinders Street Station Underpass       15314200
183  Saturday         35                          Southbank       10878637
179  Saturday         28                    The Arts Centre        9753895
188  Saturday         41     Flinders La-Swanston St (West)        7017338
176  Saturday         24      Spencer St-Collins St (North)        6912910
        Day  Sensor_ID                        Sensor_Name  Hourly_Counts
82   Monday          4                   Town Hall (West)       19272251
84   Monday          6  Flinders Street Station Underpass       17752947
81   Monday          3                  Melbourne Central       15577022
80   Monday          2         Bourke Street Mall (South)       14689966
83   Monday          5                     Princes Bridge       14521729
79   Monday          1         Bourke Street Mall (North)       14218144
97   Monday         24      Spencer St-Collins St (North)       11777417
87   Monday          9             Southern Cross Station        9310691
104  Monday         35                          Southbank        8602186
100  Monday         28                    The Arts Centre        8334224
       Day  Sensor_ID                        Sensor_Name  Hourly_Counts
3   Friday          4                   Town Hall (West)       24393876
5   Friday          6  Flinders Street Station Underpass       21211433
2   Friday          3                  Melbourne Central       19853833
1   Friday          2         Bourke Street Mall (South)       18800045
4   Friday          5                     Princes Bridge       18367835
0   Friday          1         Bourke Street Mall (North)       18348011
18  Friday         24      Spencer St-Collins St (North)       12951080
25  Friday         35                          Southbank       10917020
21  Friday         28                    The Arts Centre       10007238
8   Friday          9             Southern Cross Station        9761409

In [19]:
unmatched_pd = merge_pandas.loc[~(merge_pandas['Sensor_Name'] == merge_pandas['sensor_description'])]

In [20]:
unmatched_pd.to_csv('check_sensor_unmatch.csv')

In [176]:
monthly_count= active_sensor_df.groupby(['Month','Sensor_ID','Sensor_Name'],as_index=False).agg({'Hourly_Counts': 'sum'}).sort_values(by='Month',ascending=False)

In [177]:
month_list=monthly_count.Month.unique()

In [ ]:
month_list = ['January','February','March','']

In [178]:
for month in month_list:
    print(monthly_count[monthly_count.Month==month].sort_values(by='Hourly_Counts',ascending=False).head(10))

         Month  Sensor_ID                        Sensor_Name  Hourly_Counts
799  September          4                   Town Hall (West)       11475209
798  September          3                  Melbourne Central        9902555
801  September          6  Flinders Street Station Underpass        9602620
797  September          2         Bourke Street Mall (South)        8286561
796  September          1         Bourke Street Mall (North)        8192967
800  September          5                     Princes Bridge        7823066
814  September         24      Spencer St-Collins St (North)        6126071
817  September         28                    The Arts Centre        4742644
821  September         35                          Southbank        4661031
804  September          9             Southern Cross Station        4214830
       Month  Sensor_ID                        Sensor_Name  Hourly_Counts
733  October          4                   Town Hall (West)       11152763
735  October          6  Flinders Street Station Underpass       10333881
730  October          1         Bourke Street Mall (North)        8737215
731  October          2         Bourke Street Mall (South)        8675275
732  October          3                  Melbourne Central        8260476
734  October          5                     Princes Bridge        7877358
748  October         24      Spencer St-Collins St (North)        6728313
755  October         35                          Southbank        5276274
751  October         28                    The Arts Centre        5036796
738  October          9             Southern Cross Station        4539958
        Month  Sensor_ID                        Sensor_Name  Hourly_Counts
667  November          4                   Town Hall (West)       12136661
669  November          6  Flinders Street Station Underpass       10598560
665  November          2         Bourke Street Mall (South)        9772438
666  November          3                  Melbourne Central        9752026
668  November          5                     Princes Bridge        8942629
664  November          1         Bourke Street Mall (North)        8871745
682  November         24      Spencer St-Collins St (North)        6661345
689  November         35                          Southbank        5660775
685  November         28                    The Arts Centre        5351393
672  November          9             Southern Cross Station        4265450
    Month  Sensor_ID                        Sensor_Name  Hourly_Counts
589   May          4                   Town Hall (West)       11591495
591   May          6  Flinders Street Station Underpass       10787077
588   May          3                  Melbourne Central       10615667
586   May          1         Bourke Street Mall (North)        9774547
590   May          5                     Princes Bridge        9561337
587   May          2         Bourke Street Mall (South)        8901477
604   May         24      Spencer St-Collins St (North)        6009446
611   May         35                          Southbank        5862252
594   May          9             Southern Cross Station        5034469
607   May         28                    The Arts Centre        5004039
     Month  Sensor_ID                        Sensor_Name  Hourly_Counts
512  March          4                   Town Hall (West)       12655259
511  March          3                  Melbourne Central       11737486
514  March          6  Flinders Street Station Underpass       11419121
513  March          5                     Princes Bridge       11001403
509  March          1         Bourke Street Mall (North)        9643824
510  March          2         Bourke Street Mall (South)        9017586
527  March         24      Spencer St-Collins St (North)        7149300
534  March         35                          Southbank        5930487
530  March         28                    The Arts Centre        5699004
517  March          9             Southern Cross Station        4711595
    Month  Sensor_ID                        Sensor_Name  Hourly_Counts
435  June          4                   Town Hall (West)       11934368
434  June          3                  Melbourne Central       10287904
437  June          6  Flinders Street Station Underpass        9867379
432  June          1         Bourke Street Mall (North)        9455301
436  June          5                     Princes Bridge        8997795
433  June          2         Bourke Street Mall (South)        8818621
450  June         24      Spencer St-Collins St (North)        6139724
457  June         35                          Southbank        5242526
453  June         28                    The Arts Centre        5039946
440  June          9             Southern Cross Station        4525398
    Month  Sensor_ID                        Sensor_Name  Hourly_Counts
370  July          4                   Town Hall (West)       12555809
369  July          3                  Melbourne Central       10445330
372  July          6  Flinders Street Station Underpass       10203582
367  July          1         Bourke Street Mall (North)        9103779
368  July          2         Bourke Street Mall (South)        9048971
371  July          5                     Princes Bridge        8531264
385  July         24      Spencer St-Collins St (North)        6016559
392  July         35                          Southbank        4994974
388  July         28                    The Arts Centre        4954330
375  July          9             Southern Cross Station        4798905
       Month  Sensor_ID                        Sensor_Name  Hourly_Counts
294  January          4                   Town Hall (West)       11967639
295  January          5                     Princes Bridge       10796073
296  January          6  Flinders Street Station Underpass       10279628
292  January          2         Bourke Street Mall (South)        9106886
293  January          3                  Melbourne Central        8433264
291  January          1         Bourke Street Mall (North)        8136291
316  January         35                          Southbank        6279974
312  January         28                    The Arts Centre        6214671
309  January         24      Spencer St-Collins St (North)        6096117
297  January          7                     Birrarung Marr        4494074
        Month  Sensor_ID                        Sensor_Name  Hourly_Counts
217  February          4                   Town Hall (West)       11156945
219  February          6  Flinders Street Station Underpass       10292516
218  February          5                     Princes Bridge        9493960
216  February          3                  Melbourne Central        9004266
214  February          1         Bourke Street Mall (North)        8335328
215  February          2         Bourke Street Mall (South)        8134134
232  February         24      Spencer St-Collins St (North)        6591467
235  February         28                    The Arts Centre        5657723
239  February         35                          Southbank        5462142
222  February          9             Southern Cross Station        4481588
        Month  Sensor_ID                        Sensor_Name  Hourly_Counts
145  December          4                   Town Hall (West)       14578191
143  December          2         Bourke Street Mall (South)       13134233
147  December          6  Flinders Street Station Underpass       11352132
146  December          5                     Princes Bridge       10750919
142  December          1         Bourke Street Mall (North)       10478082
144  December          3                  Melbourne Central        9958892
167  December         35                          Southbank        7087552
160  December         24      Spencer St-Collins St (North)        5946613
163  December         28                    The Arts Centre        5466323
172  December         41     Flinders La-Swanston St (West)        5116437
      Month  Sensor_ID                        Sensor_Name  Hourly_Counts
80   August          4                   Town Hall (West)       11675587
79   August          3                  Melbourne Central       10477135
82   August          6  Flinders Street Station Underpass        9214815
77   August          1         Bourke Street Mall (North)        8299742
78   August          2         Bourke Street Mall (South)        8282631
81   August          5                     Princes Bridge        7861189
95   August         24      Spencer St-Collins St (North)        5933432
85   August          9             Southern Cross Station        4647033
98   August         28                    The Arts Centre        4493078
102  August         35                          Southbank        4477946
    Month  Sensor_ID                        Sensor_Name  Hourly_Counts
3   April          4                   Town Hall (West)       12463968
2   April          3                  Melbourne Central       10862976
4   April          5                     Princes Bridge       10660422
5   April          6  Flinders Street Station Underpass       10135936
0   April          1         Bourke Street Mall (North)        9194871
1   April          2         Bourke Street Mall (South)        8815472
18  April         24      Spencer St-Collins St (North)        6215026
21  April         28                    The Arts Centre        6090009
25  April         35                          Southbank        6002385
8   April          9             Southern Cross Station        3938379

In [189]:
lockdown_df = active_sensor_df[active_sensor_df.Date_Time > 'January 1, 2020'].reset_index(drop=True)

In [188]:
lockdown_df[lockdown_df.sensor_id==34]

Empty DataFrame
Columns: [ID, Date_Time, Year, Month, Mdate, Day, Time, Sensor_ID, Sensor_Name, Hourly_Counts, sensor_id, sensor_description, sensor_name, installation_date, status, note, direction_1, direction_2, latitude, longitude, location]
Index: []

[0 rows x 21 columns]

In [190]:
lockdown_df_sum_per_month= lockdown_df.groupby(['Sensor_ID','Sensor_Name'],as_index=False).agg({'Hourly_Counts': 'mean'})

In [192]:
lockdown_df_sum_per_month

    Sensor_ID                                       Sensor_Name  Hourly_Counts
0           1                        Bourke Street Mall (North)     600.244382
1           2                        Bourke Street Mall (South)     385.300270
2           3                                 Melbourne Central     533.608710
3           4                                  Town Hall (West)     704.160163
4           5                                    Princes Bridge     661.835245
..        ...                                               ...            ...
73         78              Harbour Esplanade (West) - Bike Path      42.879793
74         79                               Flinders St (South)     385.090278
75         84  Elizabeth St - Flinders St (East) - New footpath     831.486418
76         85                               Macaulay Rd (North)      78.061464
77         86                 Queensberry St - Errol St (South)      55.285320

[78 rows x 3 columns]

In [193]:
lockdown_df_sum_per_month = lockdown_df.groupby(['Sensor_ID','Sensor_Name','Year','Month'],as_index=False).agg({'Hourly_Counts': 'sum'})

In [194]:
lockdown_df_sum_per_month['month_year'] = pd.to_datetime(lockdown_df_sum_per_month.Year.astype(str) + '/' + lockdown_df_sum_per_month.Month.astype(str) + '/01')

In [195]:
lockdown_df_sum_per_month

,Sensor_ID,Sensor_Name,Year,Month,Hourly_Counts,month_year
0,1,Bourke Street Mall (North),2020,April,118072,2020-04-01
1,1,Bourke Street Mall (North),2020,August,70551,2020-08-01
2,1,Bourke Street Mall (North),2020,December,714656,2020-12-01
3,1,Bourke Street Mall (North),2020,February,799619,2020-02-01
4,1,Bourke Street Mall (North),2020,January,891036,2020-01-01
...,...,...,...,...,...,...
1777,86,Queensberry St - Errol St (South),2022,February,30716,2022-02-01
1778,86,Queensberry St - Errol St (South),2022,January,24065,2022-01-01
1779,86,Queensberry St - Errol St (South),2022,June,40367,2022-06-01
1780,86,Queensberry St - Errol St (South),2022,March,39882,2022-03-01
1781,86,Queensberry St - Errol St (South),2022,May,43409,2022-05-01

In [196]:
most_change = -1
for i in range(1,86):
    try:
        temp_df = lockdown_df_sum_per_month[lockdown_df_sum_per_month.Sensor_ID == i]
    except:
        continue
    latest_data = temp_df[temp_df.month_year == temp_df.month_year.max()]
    oldest_data = temp_df[temp_df.month_year == temp_df.month_year.min()]
    if (oldest_data.empty):
        continue
    if (latest_data.month_year.iloc[0] <= pd.to_datetime('2022-05-01')):
        continue
    if (oldest_data['month_year'].iloc[0] >=  pd.to_datetime('2021-01-01')):
        print(f'Data in sensor {i} is within the the lockdown period')
        continue
    change = (oldest_data['Hourly_Counts'].iloc[0]-latest_data['Hourly_Counts'].iloc[0])/oldest_data['Hourly_Counts'].iloc[0] * 100
#     print(change)
#     if (change < 0):
#         continue
    print(f"Sensor {i} in Location with changes in pedestrian count of {change} from {oldest_data.month_year.iloc[0]} to {latest_data.month_year}")
    if (change > most_change):
        most_change = change
        sensor_max = temp_df['Sensor_ID'].iloc[0] 

print(f'{sensor_max} has the most decline in pedestrian count of {most_change}')

Sensor 1 in Location with changes in pedestrian count of 40.55335586889868 from 2020-01-01 00:00:00 to 27   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 2 in Location with changes in pedestrian count of 39.12841105186041 from 2020-01-01 00:00:00 to 57   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 3 in Location with changes in pedestrian count of 10.57943944958001 from 2020-01-01 00:00:00 to 87   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 5 in Location with changes in pedestrian count of 53.726898189564224 from 2020-01-01 00:00:00 to 145   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 6 in Location with changes in pedestrian count of 43.29334658687015 from 2020-01-01 00:00:00 to 175   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 8 in Location with changes in pedestrian count of 22.990556595152096 from 2020-01-01 00:00:00 to 230   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 9 in Location with changes in pedestrian count of 44.90440568985955 from 2020-01-01 00:00:00 to 260   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 10 in Location with changes in pedestrian count of 63.71762222296687 from 2020-01-01 00:00:00 to 290   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 11 in Location with changes in pedestrian count of -62.24517906336088 from 2020-01-01 00:00:00 to 320   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 12 in Location with changes in pedestrian count of 22.73687747571937 from 2020-01-01 00:00:00 to 350   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 17 in Location with changes in pedestrian count of -35.55946629123604 from 2020-01-01 00:00:00 to 380   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 19 in Location with changes in pedestrian count of 32.319515475784975 from 2020-01-01 00:00:00 to 437   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 20 in Location with changes in pedestrian count of 22.78628865941751 from 2020-01-01 00:00:00 to 467   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 21 in Location with changes in pedestrian count of 20.227834471282087 from 2020-01-01 00:00:00 to 494   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 23 in Location with changes in pedestrian count of 34.86352992828918 from 2020-01-01 00:00:00 to 524   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 24 in Location with changes in pedestrian count of 43.51780581412154 from 2020-01-01 00:00:00 to 554   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 26 in Location with changes in pedestrian count of 30.10088126768178 from 2020-01-01 00:00:00 to 584   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 27 in Location with changes in pedestrian count of 13.243083003952568 from 2020-01-01 00:00:00 to 614   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 28 in Location with changes in pedestrian count of 41.88886318772752 from 2020-01-01 00:00:00 to 644   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 29 in Location with changes in pedestrian count of 39.468818950010906 from 2020-01-01 00:00:00 to 674   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 30 in Location with changes in pedestrian count of 23.596926862202487 from 2020-01-01 00:00:00 to 704   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 31 in Location with changes in pedestrian count of 31.203823006540212 from 2020-01-01 00:00:00 to 734   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 35 in Location with changes in pedestrian count of 11.13836285687261 from 2020-01-01 00:00:00 to 763   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 36 in Location with changes in pedestrian count of 35.85438299334757 from 2020-01-01 00:00:00 to 793   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 37 in Location with changes in pedestrian count of 30.448263727066077 from 2020-01-01 00:00:00 to 823   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 39 in Location with changes in pedestrian count of 41.89276779278052 from 2020-01-01 00:00:00 to 853   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 40 in Location with changes in pedestrian count of 38.63303077645616 from 2020-01-01 00:00:00 to 883   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 41 in Location with changes in pedestrian count of 19.539992386775502 from 2020-01-01 00:00:00 to 913   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 42 in Location with changes in pedestrian count of 31.448877851702218 from 2020-01-01 00:00:00 to 943   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 43 in Location with changes in pedestrian count of -5.609489620727329 from 2020-01-01 00:00:00 to 972   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 44 in Location with changes in pedestrian count of 8.061234073192875 from 2020-01-01 00:00:00 to 1001   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 45 in Location with changes in pedestrian count of 40.099867161897784 from 2020-01-01 00:00:00 to 1028   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 46 in Location with changes in pedestrian count of 5.428805428805429 from 2020-01-01 00:00:00 to 1058   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 47 in Location with changes in pedestrian count of 15.477440062705734 from 2020-01-01 00:00:00 to 1088   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 48 in Location with changes in pedestrian count of 24.846640131116835 from 2020-01-01 00:00:00 to 1118   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 49 in Location with changes in pedestrian count of -10.399350906356368 from 2020-01-01 00:00:00 to 1148   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 50 in Location with changes in pedestrian count of 28.238040808385417 from 2020-01-01 00:00:00 to 1178   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 51 in Location with changes in pedestrian count of 16.47930673186065 from 2020-01-01 00:00:00 to 1208   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 53 in Location with changes in pedestrian count of 73.36195205998251 from 2020-01-01 00:00:00 to 1238   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 54 in Location with changes in pedestrian count of -18.49475924028686 from 2020-01-01 00:00:00 to 1267   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 56 in Location with changes in pedestrian count of 24.624214024328186 from 2020-01-01 00:00:00 to 1297   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 57 in Location with changes in pedestrian count of 42.933555130240585 from 2020-01-01 00:00:00 to 1327   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 58 in Location with changes in pedestrian count of 30.445799772477372 from 2020-01-01 00:00:00 to 1357   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 59 in Location with changes in pedestrian count of -247.56992115482683 from 2020-01-01 00:00:00 to 1387   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 61 in Location with changes in pedestrian count of 21.03868371574658 from 2020-01-01 00:00:00 to 1416   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 62 in Location with changes in pedestrian count of -29.30454659693383 from 2020-01-01 00:00:00 to 1446   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 63 in Location with changes in pedestrian count of -43.967090669137676 from 2020-01-01 00:00:00 to 1475   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 64 in Location with changes in pedestrian count of -18.90411474607537 from 2020-01-01 00:00:00 to 1481   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 65 in Location with changes in pedestrian count of -28.558857945237538 from 2020-03-01 00:00:00 to 1532   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 66 in Location with changes in pedestrian count of -500.3556450949757 from 2020-04-01 00:00:00 to 1539   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 67 in Location with changes in pedestrian count of -452.8298363946134 from 2020-09-01 00:00:00 to 1566   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 68 in Location with changes in pedestrian count of -412.49552131852386 from 2020-09-01 00:00:00 to 1588   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 69 in Location with changes in pedestrian count of -499.9858697188074 from 2020-09-01 00:00:00 to 1610   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 70 in Location with changes in pedestrian count of -117.32803164863557 from 2020-10-01 00:00:00 to 1645   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 71 in Location with changes in pedestrian count of -328.7709991158267 from 2020-10-01 00:00:00 to 1666   2022-06-01
Name: month_year, dtype: datetime64[ns]
Data in sensor 72 is within the the lockdown period
Data in sensor 75 is within the the lockdown period
Data in sensor 76 is within the the lockdown period
Data in sensor 77 is within the the lockdown period
Data in sensor 78 is within the the lockdown period
Data in sensor 79 is within the the lockdown period
Data in sensor 84 is within the the lockdown period
Data in sensor 85 is within the the lockdown period
53 has the most decline in pedestrian count of 73.36195205998251

In [201]:
past_year_df = active_sensor_df[active_sensor_df.Date_Time >= pd.to_datetime('2021-06-01')].reset_index(drop=True)

In [202]:
past_year_df

,ID,Date_Time,Year,Month,Mdate,Day,Time,Sensor_ID,Sensor_Name,Hourly_Counts,...,sensor_description,sensor_name,installation_date,status,note,direction_1,direction_2,latitude,longitude,location
0,3707363,2021-06-01 00:00:00,2021,June,1,Tuesday,0,39,Alfred Place,7,...,Alfred Place,AlfPl_T,2019/12/04,A,In 4/12/2019 sensor upgraded,South,North,-37.813784,144.969963,"(-37.81378433, 144.96996342)"
1,3707433,2021-06-01 01:00:00,2021,June,1,Tuesday,1,39,Alfred Place,2,...,Alfred Place,AlfPl_T,2019/12/04,A,In 4/12/2019 sensor upgraded,South,North,-37.813784,144.969963,"(-37.81378433, 144.96996342)"
2,3707503,2021-06-01 02:00:00,2021,June,1,Tuesday,2,39,Alfred Place,0,...,Alfred Place,AlfPl_T,2019/12/04,A,In 4/12/2019 sensor upgraded,South,North,-37.813784,144.969963,"(-37.81378433, 144.96996342)"
3,3707573,2021-06-01 03:00:00,2021,June,1,Tuesday,3,39,Alfred Place,0,...,Alfred Place,AlfPl_T,2019/12/04,A,In 4/12/2019 sensor upgraded,South,North,-37.813784,144.969963,"(-37.81378433, 144.96996342)"
4,3707643,2021-06-01 04:00:00,2021,June,1,Tuesday,4,39,Alfred Place,0,...,Alfred Place,AlfPl_T,2019/12/04,A,In 4/12/2019 sensor upgraded,South,North,-37.813784,144.969963,"(-37.81378433, 144.96996342)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599325,4372922,2022-06-30 19:00:00,2022,June,30,Thursday,19,86,Queensberry St - Errol St (South),92,...,Queensberry St - Errol St (South),574Qub_T,2021/12/21,A,NaN,East,West,-37.803087,144.949087,"(-37.80308676, 144.94908661)"
599326,4372923,2022-06-30 20:00:00,2022,June,30,Thursday,20,86,Queensberry St - Errol St (South),80,...,Queensberry St - Errol St (South),574Qub_T,2021/12/21,A,NaN,East,West,-37.803087,144.949087,"(-37.80308676, 144.94908661)"
599327,4372924,2022-06-30 21:00:00,2022,June,30,Thursday,21,86,Queensberry St - Errol St (South),32,...,Queensberry St - Errol St (South),574Qub_T,2021/12/21,A,NaN,East,West,-37.803087,144.949087,"(-37.80308676, 144.94908661)"
599328,4372925,2022-06-30 22:00:00,2022,June,30,Thursday,22,86,Queensberry St - Errol St (South),33,...,Queensberry St - Errol St (South),574Qub_T,2021/12/21,A,NaN,East,West,-37.803087,144.949087,"(-37.80308676, 144.94908661)"
599329,4372926,2022-06-30 23:00:00,2022,June,30,Thursday,23,86,Queensberry St - Errol St (South),18,...,Queensberry St - Errol St (South),574Qub_T,2021/12/21,A,NaN,East,West,-37.803087,144.949087,"(-37.80308676, 144.94908661)"

In [203]:
past_year_df_sum_per_month = past_year_df.groupby(['Sensor_ID','Sensor_Name','Year','Month'],as_index=False).agg({'Hourly_Counts': 'sum'})

In [204]:
past_year_df_sum_per_month['month_year'] = pd.to_datetime(past_year_df_sum_per_month.Year.astype(str) + '/' + past_year_df_sum_per_month.Month.astype(str) + '/01')

In [207]:
most_change = -1
for i in range(1,86):
    try:
        temp_df = past_year_df_sum_per_month[past_year_df_sum_per_month.Sensor_ID == i]
    except:
        continue
    latest_data = temp_df[temp_df.month_year == temp_df.month_year.max()]
    oldest_data = temp_df[temp_df.month_year == temp_df.month_year.min()]
    if (oldest_data.empty):
        continue
    if (latest_data.month_year.iloc[0] <= pd.to_datetime('2022-05-01')):
        continue
    change = (latest_data['Hourly_Counts'].iloc[0]-oldest_data['Hourly_Counts'].iloc[0])/latest_data['Hourly_Counts'].iloc[0] * 100
#     print(change)
#     if (change < 0):
#         continue
    print(f"Sensor {i} in Location with changes in pedestrian count of {change} from {oldest_data.month_year.iloc[0]} to {latest_data.month_year}")
    if (change > most_change):
        most_change = change
        sensor_max = temp_df['Sensor_ID'].iloc[0] 

print(f'{sensor_max} has the most decline in pedestrian count of {most_change}')

Sensor 1 in Location with changes in pedestrian count of 33.9692386693374 from 2021-06-01 00:00:00 to 10   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 2 in Location with changes in pedestrian count of 52.11017926381605 from 2021-06-01 00:00:00 to 23   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 3 in Location with changes in pedestrian count of 68.13343403529683 from 2021-06-01 00:00:00 to 36   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 5 in Location with changes in pedestrian count of 37.82009602230464 from 2021-06-01 00:00:00 to 60   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 6 in Location with changes in pedestrian count of 49.20850411612536 from 2021-06-01 00:00:00 to 73   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 8 in Location with changes in pedestrian count of 23.165310427968656 from 2021-06-01 00:00:00 to 94   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 9 in Location with changes in pedestrian count of 74.80939981826258 from 2021-06-01 00:00:00 to 107   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 10 in Location with changes in pedestrian count of 37.62323659116621 from 2021-06-01 00:00:00 to 120   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 11 in Location with changes in pedestrian count of 66.98644480289782 from 2021-06-01 00:00:00 to 133   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 12 in Location with changes in pedestrian count of 29.46297891558708 from 2021-06-01 00:00:00 to 146   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 17 in Location with changes in pedestrian count of 52.93392877374523 from 2021-06-01 00:00:00 to 159   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 19 in Location with changes in pedestrian count of 41.037113773203 from 2021-06-01 00:00:00 to 183   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 20 in Location with changes in pedestrian count of 60.353980627502516 from 2021-06-01 00:00:00 to 196   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 21 in Location with changes in pedestrian count of 47.23059885327926 from 2021-06-01 00:00:00 to 209   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 23 in Location with changes in pedestrian count of 59.71656621599609 from 2021-06-01 00:00:00 to 222   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 24 in Location with changes in pedestrian count of 59.010657634623 from 2021-06-01 00:00:00 to 235   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 26 in Location with changes in pedestrian count of 32.00548161219471 from 2021-06-01 00:00:00 to 248   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 27 in Location with changes in pedestrian count of 38.70361511651746 from 2021-06-01 00:00:00 to 261   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 28 in Location with changes in pedestrian count of 52.417950823631706 from 2021-06-01 00:00:00 to 274   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 29 in Location with changes in pedestrian count of 69.71761091746913 from 2021-06-01 00:00:00 to 287   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 30 in Location with changes in pedestrian count of 51.75965575293567 from 2021-06-01 00:00:00 to 300   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 31 in Location with changes in pedestrian count of 32.35421951431529 from 2021-06-01 00:00:00 to 313   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 35 in Location with changes in pedestrian count of 47.250187512531774 from 2021-06-01 00:00:00 to 326   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 36 in Location with changes in pedestrian count of 46.180398760093375 from 2021-06-01 00:00:00 to 339   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 37 in Location with changes in pedestrian count of 15.648333014249378 from 2021-06-01 00:00:00 to 352   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 39 in Location with changes in pedestrian count of 66.24723739627206 from 2021-06-01 00:00:00 to 365   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 40 in Location with changes in pedestrian count of 52.21706806609815 from 2021-06-01 00:00:00 to 378   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 41 in Location with changes in pedestrian count of 47.16214561912012 from 2021-06-01 00:00:00 to 391   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 42 in Location with changes in pedestrian count of 51.57679882128712 from 2021-06-01 00:00:00 to 404   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 43 in Location with changes in pedestrian count of 45.8072239300071 from 2021-06-01 00:00:00 to 416   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 44 in Location with changes in pedestrian count of 34.122173794606375 from 2021-06-01 00:00:00 to 428   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 45 in Location with changes in pedestrian count of 49.01824236988917 from 2021-06-01 00:00:00 to 438   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 46 in Location with changes in pedestrian count of 57.48855622912286 from 2021-06-01 00:00:00 to 451   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 47 in Location with changes in pedestrian count of 46.91143248931119 from 2021-06-01 00:00:00 to 464   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 48 in Location with changes in pedestrian count of 38.277912780997084 from 2021-06-01 00:00:00 to 477   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 49 in Location with changes in pedestrian count of 40.205603456002294 from 2021-06-01 00:00:00 to 490   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 50 in Location with changes in pedestrian count of 20.374273920793822 from 2021-06-01 00:00:00 to 503   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 51 in Location with changes in pedestrian count of 31.87063051290428 from 2021-06-01 00:00:00 to 516   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 53 in Location with changes in pedestrian count of -20.272288760380412 from 2021-06-01 00:00:00 to 529   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 54 in Location with changes in pedestrian count of 62.31793452958938 from 2021-06-01 00:00:00 to 542   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 56 in Location with changes in pedestrian count of 42.79516742591462 from 2021-06-01 00:00:00 to 555   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 57 in Location with changes in pedestrian count of 57.552381105760716 from 2021-06-01 00:00:00 to 568   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 58 in Location with changes in pedestrian count of 57.01493353755265 from 2021-06-01 00:00:00 to 581   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 59 in Location with changes in pedestrian count of 54.58245867473234 from 2021-06-01 00:00:00 to 594   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 61 in Location with changes in pedestrian count of 46.932288945034934 from 2021-06-01 00:00:00 to 606   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 62 in Location with changes in pedestrian count of 45.116296289440314 from 2021-06-01 00:00:00 to 619   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 63 in Location with changes in pedestrian count of 43.13549569932321 from 2021-06-01 00:00:00 to 632   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 64 in Location with changes in pedestrian count of 24.725735724801723 from 2021-06-01 00:00:00 to 638   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 65 in Location with changes in pedestrian count of 3.9021939373639256 from 2021-06-01 00:00:00 to 657   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 66 in Location with changes in pedestrian count of 47.08187661152525 from 2021-06-01 00:00:00 to 664   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 67 in Location with changes in pedestrian count of 47.58834977688278 from 2021-06-01 00:00:00 to 677   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 68 in Location with changes in pedestrian count of 45.13763873110198 from 2021-06-01 00:00:00 to 690   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 69 in Location with changes in pedestrian count of 46.998422081439436 from 2021-06-01 00:00:00 to 703   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 70 in Location with changes in pedestrian count of 12.341998458295024 from 2021-06-01 00:00:00 to 722   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 71 in Location with changes in pedestrian count of 18.043469295170535 from 2021-06-01 00:00:00 to 735   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 72 in Location with changes in pedestrian count of 56.03072694915636 from 2021-06-01 00:00:00 to 742   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 75 in Location with changes in pedestrian count of 39.14771003942978 from 2021-06-01 00:00:00 to 757   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 76 in Location with changes in pedestrian count of -9.331285314608591 from 2021-06-01 00:00:00 to 770   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 77 in Location with changes in pedestrian count of 1.4515017677823085 from 2021-06-01 00:00:00 to 789   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 78 in Location with changes in pedestrian count of 21.671665666866627 from 2021-06-01 00:00:00 to 802   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 79 in Location with changes in pedestrian count of 83.54884391097589 from 2021-09-01 00:00:00 to 812   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 84 in Location with changes in pedestrian count of 30.445132619284205 from 2022-01-01 00:00:00 to 818   2022-06-01
Name: month_year, dtype: datetime64[ns]
Sensor 85 in Location with changes in pedestrian count of 6.6791522186578645 from 2022-01-01 00:00:00 to 824   2022-06-01
Name: month_year, dtype: datetime64[ns]
79 has the most decline in pedestrian count of 83.54884391097589