In [4]:
import pandas as pd

In [1]:
!unzip csv/Monthly_count.zip

Archive:  csv/Monthly_count.zip
  inflating: Pedestrian_Counting_System_-_Monthly__counts_per_hour_.csv

In [2]:
!unzip csv/Sensor_location.zip

Archive:  csv/Sensor_location.zip
  inflating: Pedestrian_Counting_System_-_Sensor_Locations.csv

In [46]:
location_info = pd.read_csv('csv/Pedestrian_Counting_System_-_Monthly__counts_per_hour_.csv')
location_sensor_info = pd.read_csv('csv/Pedestrian_Counting_System_-_Sensor_Locations.csv')

In [49]:
location_info['Date_Time'] = pd.to_datetime(location_info['Date_Time'])

In [50]:
location_info.Date_Time

0         2019-11-01 17:00:00
1         2019-11-01 17:00:00
2         2019-11-01 17:00:00
3         2019-11-01 17:00:00
4         2019-11-01 17:00:00
                  ...
4367450   2022-06-30 19:00:00
4367451   2022-06-30 20:00:00
4367452   2022-06-30 21:00:00
4367453   2022-06-30 22:00:00
4367454   2022-06-30 23:00:00
Name: Date_Time, Length: 4367455, dtype: datetime64[ns]

In [53]:
location_sensor_info[location_sensor_info['status']=='I']

,sensor_id,sensor_description,sensor_name,installation_date,status,note,direction_1,direction_2,latitude,longitude,location
71,55,Elizabeth St-La Trobe St (East),Eli380_T,2018/07/19,I,NaN,South,North,-37.809876,144.961349,"(-37.80987625, 144.96134928)"
72,52,Elizabeth St-Lonsdale St (South),Eli263_T,2017/07/31,I,NaN,East,West,-37.812508,144.961946,"(-37.81250841, 144.96194607)"

In [43]:
location_sensor_info[location_sensor_info['status']=='R']

,sensor_id,sensor_description,sensor_name,installation_date,status,note,direction_1,direction_2,latitude,longitude,location
1,32,City Square,CSq_T,2013/12/20,R,Device has been removed (24/01/2017),NaN,NaN,-37.815724,144.966863,"(-37.81572426, 144.96686315)"
23,14,Sandridge Bridge,SanBri_T,2009/03/24,R,Sensor relocated to sensor ID 25 on 2/10/2019,South,North,-37.820099,144.962925,"(-37.82009926, 144.96292494)"
27,25,Melbourne Convention Exhibition Centre,MCEC_T,2013/08/28,R,NaN,East,West,-37.824005,144.956050,"(-37.8240046, 144.95605022)"
29,13,Flagstaff Station,Wil277_T,2009/03/24,R,NaN,NaN,NaN,-37.812384,144.956532,"(-37.81238363, 144.95653249)"
31,22,Flinders St-Elizabeth St (East),Eli274_T,2013/08/12,R,NaN,South,North,-37.817851,144.965074,"(-37.81785129, 144.9650742)"
41,33,Flinders St-Spring St (West),Spr13_T,2014/04/23,R,NaN,South,North,-37.814819,144.974547,"(-37.81481936, 144.97454651)"
49,16,Australia on Collins,Col270_T,2009/03/30,R,Device moved to location ID 53 (22/09/2015),NaN,NaN,-37.815721,144.965216,"(-37.81572107, 144.96521642)"
51,38,Flinders St-Swanston St (West),Swa11_T,2014/12/05,R,Device has been removed (17/02/2017),NaN,NaN,-37.817221,144.967156,"(-37.81722121, 144.9671563)"
52,34,Flinders St-Spark La,Fli32_T,2014/06/08,R,NaN,East,West,-37.815367,144.974156,"(-37.81536669, 144.97415645)"
60,60,Flinders La - Swanston St (West) Temporary,Swa31T_T,2019/03/08,R,Temporary for the duration of the metro tunnel...,South,North,-37.816669,144.966901,"(-37.81666873, 144.96690138)"
65,15,State Library,QV_T,2009/03/25,R,NaN,South,North,-37.810631,144.964477,"(-37.81063062, 144.96447729)"

In [46]:
location_info[location_info.duplicated(keep=False)]

Empty DataFrame
Columns: [ID, Date_Time, Year, Month, Mdate, Day, Time, Sensor_ID, Sensor_Name, Hourly_Counts]
Index: []

In [51]:
merge_pandas = location_info.merge(location_sensor_info, how='inner', left_on='Sensor_ID', right_on='sensor_id')

In [ ]:
active_sensor

In [52]:
daily_count = merge_pandas.groupby(['Day','Sensor_ID','Sensor_Name'],as_index=False).agg({'Hourly_Counts': 'sum'}).sort_values(by='Day',ascending=False)

In [39]:
location_info[location_info['Sensor_ID']==32].sort_values(by='Year',ascending=False)

,ID,Date_Time,Year,Month,Mdate,Day,Time,Sensor_ID,Sensor_Name,Hourly_Counts
1888977,1733358,"January 13, 2017 09:00:00 PM",2017,January,13,Friday,21,32,City Square,1389
1662289,1740236,"January 21, 2017 10:00:00 AM",2017,January,21,Saturday,10,32,City Square,1054
1662517,1740464,"January 21, 2017 04:00:00 PM",2017,January,21,Saturday,16,32,City Square,2301
1662479,1740426,"January 21, 2017 03:00:00 PM",2017,January,21,Saturday,15,32,City Square,2407
1662441,1740388,"January 21, 2017 02:00:00 PM",2017,January,21,Saturday,14,32,City Square,2269
...,...,...,...,...,...,...,...,...,...,...
948078,739165,"December 23, 2013 08:00:00 AM",2013,December,23,Monday,8,32,City Square,429
948109,739196,"December 23, 2013 09:00:00 AM",2013,December,23,Monday,9,32,City Square,496
948140,739227,"December 23, 2013 10:00:00 AM",2013,December,23,Monday,10,32,City Square,929
948171,739258,"December 23, 2013 11:00:00 AM",2013,December,23,Monday,11,32,City Square,1800
718023,743784,"December 29, 2013 01:00:00 PM",2013,December,29,Sunday,13,32,City Square,2189

In [48]:
location_sensor_info[location_sensor_info.duplicated(keep=False)]

Empty DataFrame
Columns: [sensor_id, sensor_description, sensor_name, installation_date, status, note, direction_1, direction_2, latitude, longitude, location]
Index: []

In [32]:
day_list = daily_count.Day.unique()

In [34]:
for day in day_list:
    print(daily_count[daily_count.Day==day].sort_values(by='Hourly_Counts',ascending=False).head(10))

           Day  Sensor_ID                        Sensor_Name  Hourly_Counts
561  Wednesday          4                   Town Hall (West)       20360823
563  Wednesday          6  Flinders Street Station Underpass       19002309
560  Wednesday          3                  Melbourne Central       16657083
562  Wednesday          5                     Princes Bridge       15592856
559  Wednesday          2         Bourke Street Mall (South)       15343311
558  Wednesday          1         Bourke Street Mall (North)       15043324
581  Wednesday         24      Spencer St-Collins St (North)       12922557
579  Wednesday         22    Flinders St-Elizabeth St (East)       12031778
572  Wednesday         15                      State Library       11000867
570  Wednesday         13                  Flagstaff Station       10553562
         Day  Sensor_ID                        Sensor_Name  Hourly_Counts
468  Tuesday          4                   Town Hall (West)       19457168
470  Tuesday          6  Flinders Street Station Underpass       18461430
467  Tuesday          3                  Melbourne Central       16073224
466  Tuesday          2         Bourke Street Mall (South)       14429616
469  Tuesday          5                     Princes Bridge       14396109
465  Tuesday          1         Bourke Street Mall (North)       14273069
488  Tuesday         24      Spencer St-Collins St (North)       12543187
486  Tuesday         22    Flinders St-Elizabeth St (East)       11864474
479  Tuesday         15                      State Library       10617852
477  Tuesday         13                  Flagstaff Station       10430342
          Day  Sensor_ID                        Sensor_Name  Hourly_Counts
375  Thursday          4                   Town Hall (West)       21187600
377  Thursday          6  Flinders Street Station Underpass       19413550
374  Thursday          3                  Melbourne Central       17019854
373  Thursday          2         Bourke Street Mall (South)       16322770
372  Thursday          1         Bourke Street Mall (North)       15965870
376  Thursday          5                     Princes Bridge       15704870
395  Thursday         24      Spencer St-Collins St (North)       12928593
393  Thursday         22    Flinders St-Elizabeth St (East)       12088848
386  Thursday         15                      State Library       11091657
384  Thursday         13                  Flagstaff Station       10454900
        Day  Sensor_ID                        Sensor_Name  Hourly_Counts
282  Sunday          4                   Town Hall (West)       18172940
281  Sunday          3                  Melbourne Central       15544124
283  Sunday          5                     Princes Bridge       15480437
279  Sunday          1         Bourke Street Mall (North)       13626411
280  Sunday          2         Bourke Street Mall (South)       13405435
284  Sunday          6  Flinders Street Station Underpass       12931378
300  Sunday         22    Flinders St-Elizabeth St (East)        9225154
313  Sunday         35                          Southbank        9037869
293  Sunday         15                      State Library        8931922
306  Sunday         28                    The Arts Centre        8853109
          Day  Sensor_ID                        Sensor_Name  Hourly_Counts
189  Saturday          4                   Town Hall (West)       22499236
188  Saturday          3                  Melbourne Central       19012837
190  Saturday          5                     Princes Bridge       18233579
187  Saturday          2         Bourke Street Mall (South)       17003142
186  Saturday          1         Bourke Street Mall (North)       16748863
191  Saturday          6  Flinders Street Station Underpass       15314200
220  Saturday         35                          Southbank       10878637
200  Saturday         15                      State Library       10673040
207  Saturday         22    Flinders St-Elizabeth St (East)       10583641
213  Saturday         28                    The Arts Centre        9753895
        Day  Sensor_ID                        Sensor_Name  Hourly_Counts
96   Monday          4                   Town Hall (West)       19272251
98   Monday          6  Flinders Street Station Underpass       17752947
95   Monday          3                  Melbourne Central       15577022
94   Monday          2         Bourke Street Mall (South)       14689966
97   Monday          5                     Princes Bridge       14521729
93   Monday          1         Bourke Street Mall (North)       14218144
116  Monday         24      Spencer St-Collins St (North)       11777417
114  Monday         22    Flinders St-Elizabeth St (East)       11537518
107  Monday         15                      State Library       10339353
105  Monday         13                  Flagstaff Station        9654896
       Day  Sensor_ID                        Sensor_Name  Hourly_Counts
3   Friday          4                   Town Hall (West)       24393876
5   Friday          6  Flinders Street Station Underpass       21211433
2   Friday          3                  Melbourne Central       19853833
1   Friday          2         Bourke Street Mall (South)       18800045
4   Friday          5                     Princes Bridge       18367835
0   Friday          1         Bourke Street Mall (North)       18348011
23  Friday         24      Spencer St-Collins St (North)       12951080
21  Friday         22    Flinders St-Elizabeth St (East)       12619633
14  Friday         15                      State Library       12265360
34  Friday         35                          Southbank       10917020

In [16]:
merge_pandas = location_info.merge(location_sensor_info, how='inner', left_on='Sensor_ID', right_on='sensor_id')

In [17]:
merge_pandas[merge_pandas.st]

,ID,Date_Time,Year,Month,Mdate,Day,Time,Sensor_ID,Sensor_Name,Hourly_Counts,...,sensor_description,sensor_name,installation_date,status,note,direction_1,direction_2,latitude,longitude,location
0,2887628,"November 01, 2019 05:00:00 PM",2019,November,1,Friday,17,34,Flinders St-Spark La,300,...,Flinders St-Spark La,Fli32_T,2014/06/08,R,NaN,East,West,-37.815367,144.974156,"(-37.81536669, 144.97415645)"
1,2887683,"November 01, 2019 06:00:00 PM",2019,November,1,Friday,18,34,Flinders St-Spark La,240,...,Flinders St-Spark La,Fli32_T,2014/06/08,R,NaN,East,West,-37.815367,144.974156,"(-37.81536669, 144.97415645)"
2,2887738,"November 01, 2019 07:00:00 PM",2019,November,1,Friday,19,34,Flinders St-Spark La,158,...,Flinders St-Spark La,Fli32_T,2014/06/08,R,NaN,East,West,-37.815367,144.974156,"(-37.81536669, 144.97415645)"
3,2887793,"November 01, 2019 08:00:00 PM",2019,November,1,Friday,20,34,Flinders St-Spark La,118,...,Flinders St-Spark La,Fli32_T,2014/06/08,R,NaN,East,West,-37.815367,144.974156,"(-37.81536669, 144.97415645)"
4,2887848,"November 01, 2019 09:00:00 PM",2019,November,1,Friday,21,34,Flinders St-Spark La,131,...,Flinders St-Spark La,Fli32_T,2014/06/08,R,NaN,East,West,-37.815367,144.974156,"(-37.81536669, 144.97415645)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4367450,4372922,"June 30, 2022 07:00:00 PM",2022,June,30,Thursday,19,86,Queensberry St - Errol St (South),92,...,Queensberry St - Errol St (South),574Qub_T,2021/12/21,A,NaN,East,West,-37.803087,144.949087,"(-37.80308676, 144.94908661)"
4367451,4372923,"June 30, 2022 08:00:00 PM",2022,June,30,Thursday,20,86,Queensberry St - Errol St (South),80,...,Queensberry St - Errol St (South),574Qub_T,2021/12/21,A,NaN,East,West,-37.803087,144.949087,"(-37.80308676, 144.94908661)"
4367452,4372924,"June 30, 2022 09:00:00 PM",2022,June,30,Thursday,21,86,Queensberry St - Errol St (South),32,...,Queensberry St - Errol St (South),574Qub_T,2021/12/21,A,NaN,East,West,-37.803087,144.949087,"(-37.80308676, 144.94908661)"
4367453,4372925,"June 30, 2022 10:00:00 PM",2022,June,30,Thursday,22,86,Queensberry St - Errol St (South),33,...,Queensberry St - Errol St (South),574Qub_T,2021/12/21,A,NaN,East,West,-37.803087,144.949087,"(-37.80308676, 144.94908661)"
4367454,4372926,"June 30, 2022 11:00:00 PM",2022,June,30,Thursday,23,86,Queensberry St - Errol St (South),18,...,Queensberry St - Errol St (South),574Qub_T,2021/12/21,A,NaN,East,West,-37.803087,144.949087,"(-37.80308676, 144.94908661)"

In [18]:
merge_pandas['Sensor_Name'].equals(merge_pandas['sensor_description'])

False

In [19]:
unmatched_pd = merge_pandas.loc[~(merge_pandas['Sensor_Name'] == merge_pandas['sensor_description'])]

In [20]:
unmatched_pd.to_csv('check_sensor_unmatch.csv')

In [22]:
monthly_count= location_info.groupby(['Month','Sensor_ID','Sensor_Name'],as_index=False).agg({'Hourly_Counts': 'sum'}).sort_values(by='Month',ascending=False)

In [27]:
month_list=monthly_count.Month.unique()

In [28]:
for month in month_list:
    print(monthly_count[monthly_count.Month==month].sort_values(by='Hourly_Counts',ascending=False).head(10))

         Month  Sensor_ID                        Sensor_Name  Hourly_Counts
936  September          4                   Town Hall (West)       11475209
935  September          3                  Melbourne Central        9902555
938  September          6  Flinders Street Station Underpass        9602620
934  September          2         Bourke Street Mall (South)        8286561
933  September          1         Bourke Street Mall (North)        8192967
937  September          5                     Princes Bridge        7823066
954  September         22    Flinders St-Elizabeth St (East)        6435942
947  September         15                      State Library        6321620
956  September         24      Spencer St-Collins St (North)        6126071
960  September         28                    The Arts Centre        4742644
       Month  Sensor_ID                        Sensor_Name  Hourly_Counts
858  October          4                   Town Hall (West)       11152763
860  October          6  Flinders Street Station Underpass       10333881
855  October          1         Bourke Street Mall (North)        8737215
856  October          2         Bourke Street Mall (South)        8675275
857  October          3                  Melbourne Central        8260476
859  October          5                     Princes Bridge        7877358
869  October         15                      State Library        6942115
878  October         24      Spencer St-Collins St (North)        6728313
876  October         22    Flinders St-Elizabeth St (East)        5860962
889  October         35                          Southbank        5276274
        Month  Sensor_ID                        Sensor_Name  Hourly_Counts
780  November          4                   Town Hall (West)       12136661
782  November          6  Flinders Street Station Underpass       10598560
778  November          2         Bourke Street Mall (South)        9772438
779  November          3                  Melbourne Central        9752026
781  November          5                     Princes Bridge        8942629
777  November          1         Bourke Street Mall (North)        8871745
798  November         22    Flinders St-Elizabeth St (East)        7197048
800  November         24      Spencer St-Collins St (North)        6661345
791  November         15                      State Library        6630549
811  November         35                          Southbank        5660775
    Month  Sensor_ID                        Sensor_Name  Hourly_Counts
689   May          4                   Town Hall (West)       11591495
691   May          6  Flinders Street Station Underpass       10787077
688   May          3                  Melbourne Central       10615667
686   May          1         Bourke Street Mall (North)        9774547
690   May          5                     Princes Bridge        9561337
687   May          2         Bourke Street Mall (South)        8901477
707   May         22    Flinders St-Elizabeth St (East)        7592610
700   May         15                      State Library        6580684
709   May         24      Spencer St-Collins St (North)        6009446
720   May         35                          Southbank        5862252
     Month  Sensor_ID                        Sensor_Name  Hourly_Counts
600  March          4                   Town Hall (West)       12655259
599  March          3                  Melbourne Central       11737486
602  March          6  Flinders Street Station Underpass       11419121
601  March          5                     Princes Bridge       11001403
597  March          1         Bourke Street Mall (North)        9643824
598  March          2         Bourke Street Mall (South)        9017586
618  March         22    Flinders St-Elizabeth St (East)        7566831
620  March         24      Spencer St-Collins St (North)        7149300
611  March         15                      State Library        7091544
631  March         35                          Southbank        5930487
    Month  Sensor_ID                        Sensor_Name  Hourly_Counts
510  June          4                   Town Hall (West)       11934368
509  June          3                  Melbourne Central       10287904
512  June          6  Flinders Street Station Underpass        9867379
507  June          1         Bourke Street Mall (North)        9455301
511  June          5                     Princes Bridge        8997795
508  June          2         Bourke Street Mall (South)        8818621
528  June         22    Flinders St-Elizabeth St (East)        6549459
530  June         24      Spencer St-Collins St (North)        6139724
521  June         15                      State Library        5463552
541  June         35                          Southbank        5242526
    Month  Sensor_ID                        Sensor_Name  Hourly_Counts
432  July          4                   Town Hall (West)       12555809
431  July          3                  Melbourne Central       10445330
434  July          6  Flinders Street Station Underpass       10203582
429  July          1         Bourke Street Mall (North)        9103779
430  July          2         Bourke Street Mall (South)        9048971
433  July          5                     Princes Bridge        8531264
443  July         15                      State Library        6434716
452  July         24      Spencer St-Collins St (North)        6016559
450  July         22    Flinders St-Elizabeth St (East)        5883997
463  July         35                          Southbank        4994974
       Month  Sensor_ID                        Sensor_Name  Hourly_Counts
344  January          4                   Town Hall (West)       11967639
345  January          5                     Princes Bridge       10796073
346  January          6  Flinders Street Station Underpass       10279628
342  January          2         Bourke Street Mall (South)        9106886
343  January          3                  Melbourne Central        8433264
341  January          1         Bourke Street Mall (North)        8136291
362  January         22    Flinders St-Elizabeth St (East)        6307184
375  January         35                          Southbank        6279974
368  January         28                    The Arts Centre        6214671
364  January         24      Spencer St-Collins St (North)        6096117
        Month  Sensor_ID                        Sensor_Name  Hourly_Counts
255  February          4                   Town Hall (West)       11156945
257  February          6  Flinders Street Station Underpass       10292516
256  February          5                     Princes Bridge        9493960
254  February          3                  Melbourne Central        9004266
252  February          1         Bourke Street Mall (North)        8335328
253  February          2         Bourke Street Mall (South)        8134134
275  February         24      Spencer St-Collins St (North)        6591467
273  February         22    Flinders St-Elizabeth St (East)        6547085
266  February         15                      State Library        5708978
279  February         28                    The Arts Centre        5657723
        Month  Sensor_ID                        Sensor_Name  Hourly_Counts
171  December          4                   Town Hall (West)       14578191
169  December          2         Bourke Street Mall (South)       13134233
173  December          6  Flinders Street Station Underpass       11352132
172  December          5                     Princes Bridge       10750919
168  December          1         Bourke Street Mall (North)       10478082
170  December          3                  Melbourne Central        9958892
189  December         22    Flinders St-Elizabeth St (East)        7643186
202  December         35                          Southbank        7087552
182  December         15                      State Library        6079839
191  December         24      Spencer St-Collins St (North)        5946613
      Month  Sensor_ID                        Sensor_Name  Hourly_Counts
93   August          4                   Town Hall (West)       11675587
92   August          3                  Melbourne Central       10477135
95   August          6  Flinders Street Station Underpass        9214815
90   August          1         Bourke Street Mall (North)        8299742
91   August          2         Bourke Street Mall (South)        8282631
94   August          5                     Princes Bridge        7861189
104  August         15                      State Library        6404288
113  August         24      Spencer St-Collins St (North)        5933432
111  August         22    Flinders St-Elizabeth St (East)        4805402
102  August         13                  Flagstaff Station        4648096
    Month  Sensor_ID                        Sensor_Name  Hourly_Counts
3   April          4                   Town Hall (West)       12463968
2   April          3                  Melbourne Central       10862976
4   April          5                     Princes Bridge       10660422
5   April          6  Flinders Street Station Underpass       10135936
0   April          1         Bourke Street Mall (North)        9194871
1   April          2         Bourke Street Mall (South)        8815472
21  April         22    Flinders St-Elizabeth St (East)        7561340
23  April         24      Spencer St-Collins St (North)        6215026
14  April         15                      State Library        6159571
27  April         28                    The Arts Centre        6090009